@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

/* font */
@theme {
    --font-cinzel: 'Cinzel', serif;
    --text-xs-custom: 12px; /* custom font size */
    --text-xl-custom: 15px;
}

/* how to use it */
@layer components {
    .font {
        @apply font-cinzel font-medium uppercase ;
        /* font-weight: 400; */ 
    }

    .fontBig {
        @apply lg:text-6xl text-4xl
    }
    
    .fontSmall {
        @apply lg:text-2xl lg:text-black 

    }

    .fontGradient{
        @apply bg-gradient-to-l from-black via-blue-950 to-blue-950 text-transparent bg-clip-text;
    }

    .border {
        @apply border-b-2 border-gray-300;
    }
    
    .line {
        @apply w-full h-0 border-l-[50px] border-l-transparent border-r-[50px] border-r-transparent
    }
}


@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.textShine {
  /* font-size: clamp(2.8rem, 1.5vw, 3rem); */
  /* font-weight: bold; */
  /* margin: 5px; */
  background: linear-gradient(
    to right,
    white 20%,
    black 30%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.image-shine {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-bottom-left-radius: 9999px; /* matches Tailwind's rounded-b-full */
  border-bottom-right-radius: 9999px;
}

.image-shine img {
  display: block;
  width: 100%;
  height: auto;
}

.image-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.image-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition: left 0.7s ease, top 0.7s ease, opacity 0.15s ease;
}

.image-shine:active:after {
  opacity: 0;
}